## 주제 : 수도권 집중화 현상 시각화
- [노션 링크](https://excellent-atmosphere-82e.notion.site/4254099d019e4b69afec539a970f66b7?pvs=4) <-클릭

## 데이터 시각화 with Flourish
- [Map](https://public.flourish.studio/visualisation/14829447/) <- 클릭
- [Bar_Chart_Race](https://public.flourish.studio/visualisation/14819830/) <- 클릭

# 데이터 불러오기
- 1949 ~ 2010년 데이터 셋 : population_1
- 2015 ~ 2022년 데이터 셋 : population_2

In [36]:
import pandas as pd
population_1 = pd.read_csv('population_1.csv',encoding='cp949')
population_1

,행정구역별,연령별,1949,1955,1960,1966,1970,1975,1980,1985,1990,1995,2000,2005,2010
0,행정구역별,연령별,인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명)
1,서울특별시,계,1437670,1568746,2445402,3793280,5525262,6879464,8350616,9625755,10603250,10217177,9853972,9762546,9631482
2,부산광역시,계,-,-,-,1426019,1876391,2450125,3156931,3512113,3795892,3809618,3655437,3512547,3393191
3,대구광역시,계,-,-,-,-,-,-,-,2028370,2227979,2445288,2473990,2456016,2431774
4,인천광역시,계,-,-,-,-,-,-,-,1384916,1816328,2304176,2466338,2517680,2632035
5,광주광역시,계,-,-,-,-,-,-,-,-,1138717,1257063,1350948,1413644,1466143
6,대전광역시,계,-,-,-,-,-,-,-,-,1049122,1270873,1365961,1438551,1490158
7,울산광역시,계,-,-,-,-,-,-,-,-,-,-,1012110,1044934,1071673
8,경기도,계,2733944,2359558,2748765,3102325,3353272,4034707,4930335,4792617,6154359,7637942,8937752,10341006,11196053
9,강원도,계,1138435,1495755,1636767,1831185,1865426,1860768,1790226,1724146,1579859,1465279,1484536,1460770,1463650
10,충청북도,계,1145964,1191268,1369780,1548821,1480338,1521348,1423381,1390326,1389222,1395460,1462621,1453872,1495984
11,충청남도,계,2026837,2220895,2528133,2902941,2858202,2947023,2954662,2999837,2013270,1765021,1840410,1879417,2000473
12,전라북도,계,2048951,2124521,2395224,2521207,2431892,2455093,2286720,2201265,2069378,1900558,1887239,1778879,1766044
13,전라남도,계,3041491,3126377,3553041,4048769,4004832,3982752,3778777,3747506,2506944,2066109,1994287,1815174,1728749
14,경상북도,계,3205240,3361346,3848424,4472895,4555866,4855852,4952012,3010001,2860109,2672498,2716218,2594719,2575370
15,경상남도,계,3133697,3765119,4182042,3175146,3118634,3278718,3320546,3514500,3671509,3841553,2970929,3040993,3119571
16,제주도,계,254527,288801,281663,337052,365137,411486,462609,488300,514436,505095,512541,530686,528411

In [37]:
population_2 = pd.read_csv('population_2.csv',encoding='cp949')
population_2.head()

,행정구역별(읍면동),2015,2016,2017,2018,2019,2020,2021,2022
0,서울특별시,9904312,9805506,9741871,9673936,9639541,9586195,9472127,9417469
1,부산광역시,3448737,3440484,3416918,3395278,3372692,3349016,3324335,3295760
2,대구광역시,2466052,2461002,2453041,2444412,2429940,2410700,2387911,2366852
3,인천광역시,2890451,2913024,2925967,2936117,2952237,2945454,2957044,2989125
4,광주광역시,1502881,1501557,1496172,1490092,1489730,1477573,1475262,1468972

## 데이터 전처리

### 필요없는 coulmn, row 삭제

In [38]:
# 필요없는 column 삭제
population_1.drop(['연령별'],axis=1,inplace=True)
population_1.head()

,행정구역별,1949,1955,1960,1966,1970,1975,1980,1985,1990,1995,2000,2005,2010
0,행정구역별,인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명),인구 (명)
1,서울특별시,1437670,1568746,2445402,3793280,5525262,6879464,8350616,9625755,10603250,10217177,9853972,9762546,9631482
2,부산광역시,-,-,-,1426019,1876391,2450125,3156931,3512113,3795892,3809618,3655437,3512547,3393191
3,대구광역시,-,-,-,-,-,-,-,2028370,2227979,2445288,2473990,2456016,2431774
4,인천광역시,-,-,-,-,-,-,-,1384916,1816328,2304176,2466338,2517680,2632035

In [39]:
# 필요없는 row 삭제
population_1 = population_1[1:]

### 필요없는 문자열('-') 0으로 대체

In [40]:
population_1 = population_1.replace('-','0')

### 데이터 타입 변경

In [42]:
population_1.set_index('행정구역별',inplace=True)
population_1 = population_1.astype('int')
population_1.reset_index(inplace=True)
population_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역별   16 non-null     object
 1   1949    16 non-null     int32
 2   1955    16 non-null     int32
 3   1960    16 non-null     int32
 4   1966    16 non-null     int32
 5   1970    16 non-null     int32
 6   1975    16 non-null     int32
 7   1980    16 non-null     int32
 8   1985    16 non-null     int32
 9   1990    16 non-null     int32
 10  1995    16 non-null     int32
 11  2000    16 non-null     int32
 12  2005    16 non-null     int32
 13  2010    16 non-null     int32
dtypes: int32(13), object(1)
memory usage: 1.1+ KB

### 행정구역 명 통일

In [43]:
population_1.replace({
    '서울특별시':'서울',
    '부산광역시':'부산',
    '대구광역시':'대구',
    '인천광역시':'인천',
    '광주광역시':'광주',
    '대전광역시':'대전',
    '울산광역시':'울산',
    '경기도':'경기',
    '강원도':'강원',
    '충청북도':'충북',
    '충청남도':'충남',
    '전라북도':'전북',
    '전라남도':'전남',
    '경상북도':'경북',
    '경상남도':'경남',
    '제주도':'제주'
},inplace=True)

In [44]:
population_2.replace({
    '서울특별시':'서울',
    '부산광역시':'부산',
    '대구광역시':'대구',
    '인천광역시':'인천',
    '광주광역시':'광주',
    '대전광역시':'대전',
    '울산광역시':'울산',
    '경기도':'경기',
    '강원도':'강원',
    '충청북도':'충북',
    '충청남도':'충남',
    '전라북도':'전북',
    '전라남도':'전남',
    '경상북도':'경북',
    '경상남도':'경남',
    '제주특별자치도':'제주'
},inplace=True)

### population_2 컬럼명 변경
- population_1과 population_2행정구역에 해당하는 컬럼명이 다르므로 통일 시켜줘야함

In [45]:
population_2.rename(columns ={'행정구역별(읍면동)':'행정구역별'},inplace=True)

### 데이터 병합
- 병합한 데이터 셋 : population

In [46]:
population = pd.merge(population_1,population_2,how='left',on='행정구역별')

### 인구 비율 데이터 셋 만들기

In [47]:
population_per = population.copy()
for col in population_per.columns[1:]:
    population_per[col] = population_per[col].apply(lambda x: (x/population_per[col].sum())*100)

## 데이터 내보내기

In [ ]:
population.to_csv("population.csv")
population_per.to_csv("population_per.csv")

## 최종 코드

In [ ]:
import pandas as pd

# 데이터 불러오기
population_1 = pd.read_csv('korea_population.csv',encoding='cp949')
population_2 = pd.read_csv('korea_population_2022.csv',encoding='cp949')

#데이터 전처리

## 필요없는 column 삭제
population_1.drop(['연령별'],axis=1,inplace=True)

## 필요없는 row 삭제
population_1 = population_1[1:]

##문자열 0으로 대체
population_1 = population_1.replace('-','0')

## 데이터 타입 변경
population_1.set_index('행정구역별',inplace=True)
population_1 = population_1.astype('int')
population_1.reset_index(inplace=True)

## 행정구역 명 통일
population_1.replace({
    '서울특별시':'서울',
    '부산광역시':'부산',
    '대구광역시':'대구',
    '인천광역시':'인천',
    '광주광역시':'광주',
    '대전광역시':'대전',
    '울산광역시':'울산',
    '경기도':'경기',
    '강원도':'강원',
    '충청북도':'충북',
    '충청남도':'충남',
    '전라북도':'전북',
    '전라남도':'전남',
    '경상북도':'경북',
    '경상남도':'경남',
    '제주도':'제주'
},inplace=True)

population_2.replace({
    '서울특별시':'서울',
    '부산광역시':'부산',
    '대구광역시':'대구',
    '인천광역시':'인천',
    '광주광역시':'광주',
    '대전광역시':'대전',
    '울산광역시':'울산',
    '경기도':'경기',
    '강원도':'강원',
    '충청북도':'충북',
    '충청남도':'충남',
    '전라북도':'전북',
    '전라남도':'전남',
    '경상북도':'경북',
    '경상남도':'경남',
    '제주특별자치도':'제주'
},inplace=True)

## population_2 컬럼명 변경
population_2.rename(columns ={'행정구역별(읍면동)':'행정구역별'},inplace=True)

## 데이터 병합
population = pd.merge(population_1,population_2,how='left',on='행정구역별')

## 인구 비율 데이터 셋 만들기
population_per = population.copy()
for col in population_per.columns[1:]:
    population_per[col] = population_per[col].apply(lambda x: (x/population_per[col].sum())*100)

## 데이터 내보내기
population.to_csv("population.csv")
population_per.to_csv("population_per.csv")